/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  font-family: Arial, sans-serif;
  font-size: larger;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
}
.dashboard-header {
  background-image: linear-gradient(to right, #164b85, #6610f2);
}
.btn-light {
  background-color: #ffffff;
  border-color: #072545;
  color: #072545;
}

.btn-light:hover {
  background-color: #072545;
  color: #fff;
}
.card {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}