body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.terms-container {
  max-width: 800px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #1d1d1e;
}

ul {
  margin-bottom: 20px;
}

p {
  line-height: 1.6;
}



a:hover {
  text-decoration: none;
}