/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  font-size: larger;
  line-height: 1.6;
  background-color: #f8f9fa;
  color: #333;
}

/* CSS for navbar */


/* Hero Section */
.hero {
  background-image: linear-gradient(to right, #164b85, #6610f2);
  color: #fff;
  text-align: center;
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
}
/* Style for accordion button when collapsed */
.accordion-button {
  font-weight: bold;
   /* Set default font weight */
  color: #000; /* Set default color (black) */
}
.accordion-body.collapsed{
 font-size: 1.0;
}
/* Style for accordion button when expanded */
.accordion-button.collapsed {
  font-weight: normal;
}

.hero h2 {
  font-size: 2.5rem;
}

.hero p {
  font-size: 1.25rem;
}

.btn-light {
  background-color: #ffffff;
  border-color: #072545;
  color: #072545;
}

.btn-light:hover {
  background-color: #072545;
  color: #fff;
}

/* Cards Section */
.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card.active {
  background-color: #455565; /* Light gray background color */
}

.card.active .card-title,
.card.active .card-text {
  font-size: 2rem; /* Increase font size */
}

.card.active:hover p {
  background-color: #6a91a4;
}

.card img {
  width: 100%; /* Full width of the card */
  height: 200px; /* Fixed height for consistent image size */
  object-fit: cover; /* Ensures the image covers the container without distortion */
}

.card-title {
  font-size: 1.25rem;
  color: #555;
}

.card-img-top {
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
}

.card-img-top:hover {
  transform: scale(1.1);
}

/* Heading */

h1.animate__fadeInDown {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #605c5c;
}

/* Responsive Design */
@media (max-width: 1200px) {
  .hero h2 {
    font-size: 2rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .card img {
    height: 300px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-body {
    padding: 15px;
  }
}

@media (max-width: 768px) {
  .accordion-button {
    font-size: 1rem; /* Reduce font size on smaller screens for better responsiveness */
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 1rem;
  }

  .card img {
    height: 300px;
  }

  .card-title {
    font-size: 1rem;
  }

  .card-body {
    padding: 15px;
  }

  h1 {
    font-size: 2rem;
  }
}

@media (max-width: 576px) {
  .hero h2 {
    font-size: 1.2rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .card img {
    height: 200px;
  }

  .card-title {
    font-size: 0.9rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  
}
